@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    color: #556A7C;
    margin: 0;
}

body{
    margin: 0;
    background: #E3F0FC;
    #root{
        header{
            display: flex;
            flex-direction: row;
            justify-content: end;
            gap: 30px;
            padding-top: 10px;
            padding-right: 20px;        
        }
        .main_container{
            margin-top: 150px;
            margin-left: 150px;
            margin-right: 150px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            gap: 75px;
            .container_apropos{
                display: flex;
                flex-direction: column;
                gap: 20px; 
                h1{
                    color: #00519B;
                }
            }
            .container_skill{
                display: flex;
                flex-direction: column;
                gap: 5px;
                h1{
                    color: #00519B;
                    margin-bottom: 15px;
                    
                }
                .small_container{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    .icon_code{
                        height: 50px;
                    }
                    .icon_react{
                        height: 50px;
                        width: 62.5px;
                    }
                }
            }
            .container_projet{
                display: flex;
                flex-direction: column;
                gap: 10px;
                h1{
                    color: #00519B;
                    margin-bottom: 15px;
                }
                .container_components{
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 10px;
                    .card{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 5px;
                        padding: 20px;
                        width: 30%;
                        border: solid #00519B;
                        border-radius: 10%;
                        img{
                            width: 250px;
                            height: 250px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                }
            }
            .container_contact{
                display: flex;
                flex-direction: column;
                gap: 5px; 
                h1{
                    color: #00519B;
                    margin-bottom: 15px;
                }
            }
        }
    }
}